.App {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
}
/* .header {

} */
.row {
  display: flex;
  flex-direction: row;
}
.rightcol {
  width: 50%;
  flex: 1;
  padding: 1rem;
  background-color: #f8f8f8;
}

.leftcol {
  width: 50%; 
  flex: 1;
  padding: 1rem;
  background-color: #f8f8f8f2;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
